.contact {
  padding: 10px 0;
}

.contact-title {
  margin: 60px 0;
}

.contact-title h2 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #5b2a02;
  font-size: 30px;
  font-weight: 600;
}

.contact-title h2::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #5b2a02;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}

.contact-content {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
}

.contact-item {
  display: flex;
  align-items: center;
  flex-basis: 33%;
  margin-bottom: 100px;
  flex-direction: column;
}

.contact-item i{
  font-size: 25px;
  margin-bottom: 30px;
  color: #5b2a02;
}

.contact-item p {
  font-size: 14px;
  line-height: 33px;
}

@media only screen and (max-width: 800px) {
  .contact-content {
    flex-direction: column;
  }
  .contact-item {
    margin: 30px;
  }
  .contact-item p {
    width: 100%;
    text-align: center;
  }
}