.footer {
  background: black;
}

.footer-title {
  margin: 60px 0;
}

.footer-title h2 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #5b2a02;
  font-size: 30px;
  font-weight: 600;
  padding: 55px 0;
}

.footer-title h2::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #5b2a02;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}

.footer-copyright {
  color: white;
  text-align: center;
  flex-basis: 55%;
  line-height: 2px;
  font-size: 13px;
  margin-bottom: 25px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-social i{
  color: white;
  margin-bottom: 50px;
  font-size: 25px;
  padding: 0 45px;
}

.footer-social:first-child {
  margin-left: 70px;
}

